*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
	background-image: radial-gradient(
		circle at center,
		rgb(12, 16, 74),
		rgb(1, 5, 19) 80%
	);
}

.weather {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
	width: min(90vw, 500px);
	background-color: rgb(0, 0, 0, 0.5);
	border: 2px solid whitesmoke;
	border-radius: 12px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.629);

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		padding: 3em;
		height: 30%;
		width: 100%;
		background-color: rgb(0, 0, 0, 0.3);
		border-bottom: 2px solid whitesmoke;
		overflow: hidden;

		&-title {
			margin-bottom: 15px;
			font-size: 2.8rem;
			text-transform: uppercase;
			color: whitesmoke;
		}

		&-cityInput {
			margin-bottom: 5px;
			padding: 3px 6px;
			width: 100%;
			font-size: 1.6rem;
			text-align: center;
			background: none;
			color: whitesmoke;
			border-bottom: 1px solid whitesmoke;
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 3px;

			&::placeholder {
				color: rgba(245, 245, 245, 0.556);
			}

			&:focus {
				outline: 2px solid rgb(65, 134, 225);
			}
		}

		.error-info {
			align-self: flex-end;
			margin-bottom: 10px;
			font-size: 1rem;
			color: red;
		}

		&-button {
			padding: 9px 18px;
			font-weight: bold;
			color: whitesmoke;
			background: none;
			border: 1px solid whitesmoke;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: whitesmoke;
				color: rgb(5, 2, 26);
			}

			&:active {
				box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.775);
				border-bottom: 1px solid rgba(0, 0, 0, 0.35);
				border-right: 1px solid rgba(0, 0, 0, 0.35);
				background-color: rgb(195, 195, 195);
			}
		}

		&-circleBig {
			position: absolute;
			top: 60px;
			right: 30px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: rgba(245, 245, 245, 0.183);
			z-index: -5;
			animation: circlesMoveBig 8s ease-in infinite;
		}

		&-circleSmall {
			position: absolute;
			top: 20px;
			left: 50px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: rgba(245, 245, 245, 0.183);
			z-index: -5;
			animation: circlesMoveSmall 8s ease-in infinite;
		}

		@keyframes circlesMoveSmall {
			from {
				transform: translate(-400px, -150px);
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			to {
				transform: translate(400px, 220px);
				opacity: 0;
			}
		}

		@keyframes circlesMoveBig {
			from {
				transform: translate(200px, 150px);
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			to {
				transform: translate(-500px, -350px);
				opacity: 0;
			}
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
        justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		padding: 5.5em;
		height: 70%;
		width: 100%;
		color: whitesmoke;

		&-cityName {
			margin-bottom: 1.6em;
			font-size: 2.6rem;
			text-align: center;
			color: rgb(94, 126, 224);
		}

		&-icon {
			margin-bottom: 4.5em;
			width: 160px;
		}

		&-data {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			align-items: center;
			text-align: center;
			margin-bottom: 1.4em;
			width: 100%;
			height: 30px;
			font-size: 1.2rem;
			border-top: 1px solid whitesmoke;
			border-bottom: 1px solid whitesmoke;
		}

		&-dataAnswers {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			align-items: center;
			text-align: center;
			width: 100%;
			font-size: 2.2rem;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .weather {

        &__top {

            &-title {
                font-size: 2rem;
            }

            &-button {
                padding: 7px 14px;
            }
        } 

        &__bottom {
            padding: 2em;
        }
    }
}

@media only screen and (max-width: 768px) {
	.weather {
		height: 90vh;

        &__bottom {

            &-data {
                font-size: 0.8rem;
            }

            &-dataAnswers {
                font-size: 1.6rem;
            }
        }
	}
}

@media only screen and (min-width: 768px) {
	.weather {
		height: 600px;
	}
}
